<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252595628801-m5sm32unh3mci8v03konduu9c6qs1v4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252595628801-m5sm32unh3mci8v03konduu9c6qs1v4j</string>
	<key>API_KEY</key>
	<string>AIzaSyDx7raFvHZqmk2QZU0GZvweMbHWDf-xtZg</string>
	<key>GCM_SENDER_ID</key>
	<string>252595628801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycity</string>
	<key>PROJECT_ID</key>
	<string>mycity-e17d3</string>
	<key>STORAGE_BUCKET</key>
	<string>mycity-e17d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252595628801:ios:9fa3e76cbf2bdbbedd4900</string>
</dict>
</plist>